<ion-header [translucent]="true">
  <ion-toolbar color="red">
    <ion-title><ion-icon name="logo-whatsapp"></ion-icon> Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contacto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/inicio']"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
  <ion-button [routerLink]="['/contacto']">Ir a la seccion acerca</ion-button>
  <ion-button [routerLink]="['/ajustes']">Ir a la seccion acerca</ion-button>
</ion-content>
