ion-toolbar{
    background-color: var(--toolbar-con-background);
    color: var(--toolbar-con-text-color);
    }

ion-title {
        font-size: var(--toolbar-con-title-font-size);
        font-weight: bold;
      }
    