ion-toolbar{
    background-color: var(--toolbar-cat-background);
    color: var(--toolbar-cat-text-color);
    }

ion-title {
        font-size: var(--toolbar-cat-title-font-size);
        font-weight: bold;
      }