<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-title> <ion-icon name="images"></ion-icon> Galería</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">galeria</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>Meme con sombreado</h3>
  <ion-img class="shadow-image" src="assets/images/memeRas.jpeg"></ion-img>
  <h3>Una imagen de un personaje</h3>
  <ion-img class="zoom-image" src="assets/images/Genshin.png"></ion-img>
  <h3> Otro meme de un compañero</h3>
  <ion-img class="framed-image" src="assets/images/elDiego.jpeg"></ion-img>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <P>Me lleva la vrg</P>
    </ion-title>
  </ion-toolbar>
</ion-footer>
