<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-title><ion-icon name="images"></ion-icon> Galería</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">galeria</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img class="shadow-image" src="assets/images/memeRas.jpeg"></ion-img>
  <ion-img class="zoom-image" src="assets/images/Genshin.png"></ion-img>
  <ion-img class="framed-image" src="assets/images/elDiego.jpeg"></ion-img>
</ion-content>
