ion-toolbar{
    background-color: var(--toolbar-gal-background);
    color: var(--toolbar-gal-text-color);
    }

ion-title {
        font-size: var(--toolbar-gal-title-font-size);
        font-weight: bold;
      }