ion-toolbar{
    background-color: var(--toolbar-ajs-background);
    color: var(--toolbar-ajs-text-color);
    }

ion-title {
        font-size: var(--toolbar-ajs-title-font-size);
        font-weight: bold;
      }